<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chemogoch Primary School</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.jpg' %}">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



    <link rel="stylesheet" href="{% static 'assetss/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/css/style.css' %}">



</head>

<body>
    {% load static %}

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
  
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png' %}" alt="Logo"></a>
            </div>
  
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="{% url 'system:school' %}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                  </li>
                  <h3 class="menu-title">STUDENTS AND STAFF</h3><!-- /.menu-title -->
                  <!-- <li>
                      <a href="{% url 'system:school' %}"aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>About School</a>
                  </li> -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Staff</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a a href="{% url 'system:staff_query' %}">Query</a></li>
                            <li><i class="fa fa-table"></i><a a href="{% url 'system:staff' %}">Add Records</a></li>
                            <li><i class="fa fa-table"></i><a a href="{% url 'system:st_del' %}">Delete Records</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Students</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="{% url 'system:student_query' %}">Query</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="{% url 'system:students' %}">Add Records</a></li>
                            <li><i class="fa fa-table"></i><a a href="{% url 'system:s_del' %}">Delete Records</a></li>
                        </ul>
                    </li>
  
                    <h3 class="menu-title">INVENTORY</h3><!-- /.menu-title -->
  
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Structures</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="{% url 'system:structures_query' %}">Query</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="{% url 'system:structures' %}">Add Records</a></li>
                            <li><i class="fa fa-table"></i><a a href="{% url 'system:sts_del' %}">Delete Records</a></li>
                        </ul>
                    </li>
  
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Ground Structures</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="{% url 'system:ground_query' %}">Query</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="{% url 'system:ground' %}">Add Records</a></li>
                            <li><i class="fa fa-table"></i><a a href="{% url 'system:g_del' %}">Delete Records</a></li>
                        </ul>
                    </li>
  
                    <!-- <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                        </ul>
                    </li> -->
                    <h3 class="menu-title">LOG OUT</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'logout' %}"  aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Logout</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- {% for school in schools %}
   <h3>{{school.name}}</h3>
   {% endfor %} -->



   
    {% load static %}
    <!--? Slider Area Start-->
    <div class="slider-area" style="background-image: url('{% static "images/c2.jpg" %}');" >
            <div class="single-slider slider-height hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-8 col-lg-6 col-md-8 ">
                            <div class="hero__caption">
                                <!-- <span data-animation="fadeInLeft" data-delay=".3s">january 23</span> -->
                                <h1 style = color:#0174DF; filter: blur(10px);data-animation="fadeInLeft" data-delay=".5s" data-duration="2000ms">Chemogoch Primary School</h1>
                                <!-- <p data-animation="fadeInLeft" data-delay=".9s">will get married</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->
    <!--? Our Story Start -->
    <div class="Our-story-area story-padding">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-70">
                        <h2>About our school</h2>
                        <img src="{% static 'assetss/img/gallery/tittle_img.png' %}" alt="">
                        <p>Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl, nec luctus libero. Nam sodales sem
                            egestas sem blandit volutpat.Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl, nec luctus libero. Nam sodales sem
                            egestas sem blandit volutpat.Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl, nec luctus libero. Nam sodales sem
                            egestas sem blandit volutpat.Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl, nec luctus libero. Nam sodales sem
                            egestas sem blandit volutpat.Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl, nec luctus libero. Nam sodales sem
                            egestas sem blandit volutpat. </p>
                    </div>
                </div>
            </div>
            </div>
    </div>

    <!-- <section class="contact-sections">
        <div class="d-area">
            <div id="map" style="height: 235px; position: relative; overflow: hidden;"></div>
            <script>
                function initMap() {
                    var uluru = {
                        lat: 0.0195,
                        lng: 35.9395
                    };
                    var grayStyles = [{
                            featureType: "all",
                            stylers: [{
                                    saturation: -90
                                },
                                {
                                    lightness: 50
                                }
                            ]
                        },
                        {
                            elementType: 'labels.text.fill',
                            stylers: [{
                                color: '#ccdee9'
                            }]
                        }
                    ];
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: -31.197,
                            lng: 150.744
                        },
                        zoom: 9,
                        styles: grayStyles,
                        scrollwheel: false
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap">
            </script>
        </div>
    </section> -->




    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>






</body>

</html>
